# Root folders
/node_modules
/.vscode

# Client folders
/client/node_modules
/client/.env
/client/Dockerfile
/client/eslint.config.js

# Server folders
/server/node_modules
/server/.env
/server/src/generated/prisma
/server/logs
/server/Dockerfile
/server/eslint.config.js